# =====================================================
# Python
# =====================================================
__pycache__/
*.py[cod]
*.pyo

# =====================================================
# Virtual Environments
# =====================================================
.venv/
venv/
env/

# =====================================================
# IDEs
# =====================================================
.vscode/
.idea/

# =====================================================
# Operating System Files
# =====================================================
.DS_Store
Thumbs.db

# =====================================================
# Generated Videos
# =====================================================
*.mp4
*.mov
*.avi

# =====================================================
# Rendered Frames
# =====================================================
preview/
frames/
render/
renders/
output/

# =====================================================
# Generated JSON
# =====================================================
# *_data.json

# =====================================================
# Logs
# =====================================================
*.log

# =====================================================
# Temporary Files
# =====================================================
*.tmp


# =====================================================
# Audio Assets
# =====================================================
*.wav
*.mp3
Audio_files/

# =====================================================
# Troubleshoot Fiels
# =====================================================
Tests/
*_test.py
test_frame/

# =====================================================
# Frame Fiels
# =====================================================
*.png